<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Richieste</title>
    <link rel="stylesheet" href="/css/user/requests.css">
</head>
<body>
    <header>
        <div class="navbar-links">
            <a th:if="${userDetails != null}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </a>
            <a th:if="${userDetails == null}" href="/login">Login</a>
        </div>
        <div class="logo-container">
            <a href="/">
                <img src="/images/petAdoption.png" alt="Logo" class="logo">
            </a>
        </div>
    </header>

    <div class="main-content">
        <h1 th:text="'Lista Richieste di ' + ${adopter.name}"></h1>
        <div th:if="${requests == null || requests.isEmpty()}" class="no-requests">
            Non hai effettuato alcuna richiesta
        </div>
        <ul class="request-list">
            <li class="request-item" th:each="request : ${requests}">
                <img class="request-img" th:src="${request.urlImage}" alt="Request Image">
                <a class="request-link" th:href="@{'/user/request/' + ${request.id}}" th:text="'Richiesta per ' + ${request.animal.name}">Richiesta</a>
            </li>
        </ul>
    </div>
</body>
</html>

